* {
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-family: "Almarai", sans-serif;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
  display: grid;
  grid-template-columns: 240px auto;
  /* display: flex; */
}

.app-pages {
  height: 100vh;
  overflow: auto;
}

.App .log-lay {
  height: 424px !important;
}
